In [1]:
import pandas as pd

In [2]:
data_encoded = pd.read_csv('/Users/danyhersco/code/annabeldg/startup_project/raw_data/startups_modified.csv')

In [5]:
data_encoded.describe(include='all').iloc[:, 60:]

,Sustainability,Round 1,Round 2,Round 3,Round 4,Round 5,Target
count,56667.000000,4.270400e+04,1.990500e+04,1.088300e+04,6.201000e+03,3.560000e+03,56667.000000
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,0.060211,7.603390e+06,9.656692e+06,1.334077e+07,1.749175e+07,2.202715e+07,0.058676
std,0.237880,1.171411e+08,8.165809e+07,5.725938e+07,5.928507e+07,7.050248e+07,0.235020
min,0.000000,1.000000e+00,1.000000e+00,2.750000e+02,2.770000e+02,3.730000e+02,0.000000
25%,0.000000,1.396152e+05,2.650000e+05,4.169455e+05,5.650000e+05,6.500000e+05,0.000000
50%,0.000000,5.652885e+05,1.295000e+06,2.000000e+06,2.722234e+06,3.346794e+06,0.000000
75%,0.000000,2.430765e+06,5.000000e+06,8.399292e+06,1.200000e+07,1.553188e+07,0.000000
max,1.000000,1.660000e+10,9.049262e+09,2.262315e+09,2.600000e+09,2.400000e+09,1.000000